@tailwind base;
@tailwind components;
@tailwind utilities;

body, #app{
    min-height: 100vh;
}

#app{
    display: flex;
    flex-direction: column;
}

body{
    background-color: #74A769;
}

@media only screen and (min-width: 768px) {
    body, a{
        cursor: url("../assets/eye.svg"), auto;
    }
    body:active, a:active, a:hover{
        cursor: url("../assets/eyeClosed.svg"), auto;
    }
}
